{% extends "base.html" %}
{% block content %}

<h2>Convertir un YAML Kubernetes vers un autre provider</h2>

<form method="POST">

    <label>Collez votre YAML :</label>
    <textarea name="yaml_input"></textarea>

    <label>Convertir vers :</label>
    <select name="target_provider">
        {% for p in providers %}
            <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
    </select>

    <button type="submit">Convertir</button>
    <a href="javascript:history.back()" class="btn">Retour</a>

</form>

{% endblock %}
