{% extends "base.html" %}
{% block content %}
<h2>Créer une ressource : {{ resource_name }}</h2>

<form action="/generate" method="POST">

    <label>Provider:</label>
    <select name="provider_name">
        {% for p in providers %}
        <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
    </select>
    <br><br>

    <input type="hidden" name="resource_name" value="{{ resource_name }}">

    {% for field in schema %}
    <div class="field">
        <label>{{ field.label }}</label>
        {% if field.type == "string" or field.type == "integer" %}
        <input type="text" name="{{ field.name }}" placeholder="{{ field.comment }}">
        {% elif field.options %}
        <select name="{{ field.name }}">
            {% for val in field.options %}
            <option value="{{ val }}">{{ val }}</option>
            {% endfor %}
        </select>
        {% endif %}
        <small>{{ field.comment }}</small>
    </div>
    <br>
    {% endfor %}

    <button type="submit">Générer YAML</button>
</form>

{% endblock %}
